nav {
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: none;

  i {
  background-color: #F2477C;
  padding: 15px;
  margin-top: none;
  margin-left: 10px;
  }

  li {
    padding: 10px;
    a {color: white;}
  }


}
