.menu-controller-checkbox {
  display: none; }

.slide-left {

  .menu-controller-checkbox ~ ul { transition: left .5s ease; }

  .menu-controller-checkbox:checked ~ ul { left: 0; }

}

.slide-left {
  position: relative;

  ul.navlist {
    background-color: $pink;
    font-family: $headerfont;
    font-size: 2em;
    left: -66%;
    height: 100%;
    line-height: $line-height * 2;
    padding: $line-height;
    position: absolute;
    top: 0;
    width: 66%;
    z-index: 1000;


  a {

      display: block;
      margin-bottom: $line-height;
      width: 100%;

    }

    a:link,
    a:visited {



    }

    a:hover {
      text-decoration: underline;
    }

    a:active {

    }

    label {
      color: white;
      display: block;
      font-family: $bodyfont;
      font-size: $line-height;
      height: $line-height;
      line-height: $line-height;
      position: absolute;
      right: $line-height / 2;
      text-align: center;
      top: $line-height / 2;
      width: $line-height;
    }
  }

    .menu-controller-label {

        background-color: $pink;
        color: white;
        display: block;
        font-size: $line-height *1.5;
        height: $line-height * 2;
        line-height: 0;
        margin-bottom: $line-height;
        width: $line-height * 2.375;
        padding-top: 20px;
        padding-left: 10px;
        }

}

//UI Disable

@include desktop {

  .slide-left {

    .menu-controller-checkbox ~ ul {

      max-height: none;
      overflow: visible;

    }

    .menu-controller-label {

      display: none;
      visibility: hidden;

    }

  }

  .slide-left {

  ul.navlist {

      position: relative;
        background-color: transparent;
        height: inherit;
        left: 4rem;
        line-height: $line-height;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0;
        padding-bottom: $line-height / 2;
        width: 100%;
        display: inline-block;
        margin-left: $line-height * 5;
        /*margin-bottom: $line-height;*/
        margin-top: $line-height;
        align: center;

    li {
      background-color: transparent;
      display: inline-block;
      margin: 0 1rem 0 0;
      padding: 0;
      padding-left: 40px;
      text-align: left;

      a { margin-bottom: 0; }

      a:link,
      a:visited {


      }

      a:hover {



      }

      a:active {


      }

    }

    label {

      display: none;
      visibility: hidden;

    }

  }

}
}
