$line-height: 1.8rem;

$mobile-query-width: 300px;
$tablet-query-width: 580px;
$desktop-query-width: 630px;

$header-font:'Oswald', sans-serif;
$body-font: 'Bitter', serif;

$maincolor: #222121;
$bloodred: #B81212;
$blues: #124D9C;
